@font-face {
  font-family: 'PT Serif';
  src: url('../public/fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: var(--font-neogrotesque);
  line-height: 1.5;
  font-weight: 400;

  --font-ui: system-ui, sans-serif;
  --font-neogrotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* He usado estas reglas provisionalmente */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

body:has(dialog[open]) {
  filter: blur(5);
}
